{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block content %}
    <div class="ajax-box">
    {% block notice %}
        {% autoescape false %}
        <script type="text/javascript">
        {% for notice_level in ['success','error','info', 'warning'] %}
            {% set session_var = 'sonata_flash_' ~ notice_level %}
            {% for flash in app.session.flashbag.get(session_var) %}
            createInitCmsMessageBox('{{ (notice_level=='error')?'danger':notice_level }}', '{{ flash|trans([], 'NetworkingInitCmsBundle') }}');
            {% endfor %}
        {% endfor %}
        </script>
        {% endautoescape %}
    {% endblock %}
    {% block preview %}{% endblock %}
    {% block form %}{% endblock %}
    {% block list %}{% endblock %}
    {% block show %}{% endblock %}
    {% block list_filters %}{% endblock %}
    {% block list_table %}{% endblock %}
    {% jsblock 'render' %}
    {% autoescape false %}
    <script type="text/javascript">
        jQuery('select.per-page').change(function(event) {
            jQuery('input[type=submit]').hide();
            var that = this;
            jQuery.ajax({
                type: 'GET',
                url: this.options[this.selectedIndex].value,
                dataType: 'html',
                success: function (html) {
                    jQuery(that).closest('.ajax-box').replaceWith(html);
                }
            });

        });
        $('.show-tooltip, [data-toggle="tooltip"]').tooltip({placement:'bottom', container: 'body', delay:{ show:800, hide:100 }});
    </script>
    {% endautoescape %}
    </div>
{% endblock %}