{% extends "NetworkingInitCmsBundle::simple_layout.html.twig" %}
{% block headline %}<h1>{{ 'title.page_not_found'|trans({}, 'NetworkingInitCmsBundle')|raw }}</h1>{% endblock %}
{% block sonata_admin_content %}
    {{ 'info.page_not_found'|trans({}, 'NetworkingInitCmsBundle')|raw }}
{% endblock %}