
{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    <a class="btn btn-light-primary font-weight-bolder" href="{{ admin.generateUrl('clear_cache') }}">
        <i class="la la-refresh"></i> {{ 'action.clear_cache'|trans({}, 'TranslationAdmin') }}
    </a>
{% endif %}
