.idea
.DS_Store
/vendor
composer.phar
phpunit.xml
composer.lock
php-cs-fixer.phar

/node_modules
/package-lock.json
/yarn.lock
/yarn-error.log
/pnpm-lock.yaml
/pnpm-workspace.yaml
node_modules
_keenthemes