<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="./tests/bootstrap.php">

    <!--
        <php>
            <ini name="intl.default_locale" value="en"/>
            <server name="KERNEL_DIR" value="/path/to/your/app/" />
        </php>
    -->

    <php>
        <env name="ALLOW_LOCALE_COOKIE" value="true" force="true" />
        <env name="SINGLE_LANGUAGE" value="false" force="true" />
    </php>

    <testsuites>
        <testsuite name="init CMS bundle">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

</phpunit>
