//
// Floating label
//

.form-floating {
    .form-control.form-control-solid {
        &::placeholder {
            color: transparent;    
        }
    }

    > .form-control:focus,
    > .form-control:not(:placeholder-shown),
    > .form-control-plaintext,
    > .form-select {
        ~ label {
            color: rgba(var(--#{$prefix}body-color-rgb), #{$form-floating-label-opacity});
            transform: $form-floating-label-transform;

            &::after {
                position: relative;
                inset: initial;
                content: "*";
            }
        }
    }
}

     