{% if admin.hasRoute('show') %}
    {% set path = path(object.route()) %}
    <a href="{{ path('networking_init_view_draft', {'locale': object.locale, 'path': path | base64_encode})}}"
       data-original-title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"
       target="_blank"  class="btn btn-light  show-tooltip btn-sm button-in-row"
       title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-search-plus"></i>
    </a>
{% endif %}