{% extends '@NetworkingInitCms/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for menuItem in value %}
    <a href="{{ url('admin_networking_initcms_menuitem_list', {'page_id': object.id, 'menu_id':menuItem.id,
        "filter": {'locale': {'type':'3', 'value': field_description.options.locale}}}) }}" class="show-tooltip"
       data-original-title="{{ 'legend.edit_menu'|trans({}, 'PageAdmin') }}">
        {{ menuItem.name }}</a>{% if not loop.last %} | {% endif %}
    {% endfor %}
{% endblock %}