{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/base_list_field.html.twig' %}

{% block field %}
    <span class="label label-lg font-weight-bold label-inline {% if object.status == 'status_draft' %} label-warning

    {% elseif object.status == 'status_review' %} label-info
    {% elseif object.status == 'status_offline' %} label-danger
    {% else %} label-success{% endif %} show-tooltip"
          data-original-title="{{ value|trans({}, admin.translationDomain) }}">
            {{ value|trans({}, admin.translationDomain) }}</span>
{% endblock %}