<!-- load bar -->
{% if is_granted('ROLE_SONATA_ADMIN') %}
    <div id="initcmsnavadmin" data-page-id="{{ page_id ? page_id : 0 }}"></div>
    <script type="module" nonce="{{ nonce }}">
        (function () {
            var initcmsnavadmin = document.getElementById('initcmsnavadmin');
            document.body.insertBefore(
                document.body.removeChild(initcmsnavadmin),
                document.body.firstChild
            );
            let page_id = initcmsnavadmin.getAttribute('data-page-id');
            loadBar('/admin/_initcms_admin_navbar/' + page_id, setUpBar);
        })();
        var noop = function () {};
        function loadDropdown() {
            document.querySelector('#mobile-menu-button').addEventListener('click', function () {
                document.querySelector('#mobile-menu').classList.toggle('init-cms-hidden');
            });


            document.querySelectorAll('.init-cms-dropdown').forEach(function (dropdown) {
                let userButton = dropdown.querySelector('#init-cms-user-button');

                dropdown.addEventListener('mouseover', function () {
                    if (userButton){
                        userButton.classList.add('user-button-hover');
                    }
                    dropdown.classList.add('init-cms-dropdown-open');
                });
                dropdown.addEventListener('mouseleave', function () {
                    if (userButton){
                        userButton.classList.remove('user-button-hover');
                    }
                    dropdown.classList.remove('init-cms-dropdown-open');
                });
            });
        };

        function loadBar(url, onSuccess, onError, options) {
            var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            options = options || {};
            xhr.open(options.method || 'GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function () {
                if (4 === xhr.readyState && 200 === xhr.status) {
                    (onSuccess || noop)(xhr);
                } else if (4 === xhr.readyState && xhr.status != 200) {
                    (onError || noop)(xhr);
                }
            };
            xhr.send('');
        };
        function setUpBar(xhr) {
            var initcmsnavadmin = document.getElementById('initcmsnavadmin');
            initcmsnavadmin.innerHTML = xhr.responseText;
            loadDropdown();
            document.body.classList.add('initcms-admin-navbar-loaded');
        };

    </script>
{% endif %}
<!-- end load bar -->