html {
  overscroll-behavior: none; }

.bold {
  font-weight: bold; }

.color-second {
  color: #aaaaaa; }

.color-draft {
  color: #ff8a00 !important; }

.color-review {
  color: #82badd !important; }

.color-published {
  color: #008000 !important; }

.label.label-draft, .badge-draft {
  color: #ffffff;
  background-color: #ff8a00; }

.label.label-published, .badge-published {
  color: #ffffff;
  background-color: #5cb85c; }

.label.label-review, .badge-review {
  color: #ffffff;
  background-color: #82badd; }

.font-light {
  font-weight: 300; }

.align-left {
  text-align: left !important; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.btn-custom {
  background-color: #4d4d4d !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#4c4c4c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7f7f7f), to(#4c4c4c));
  background-image: -moz-linear-gradient(top, #7f7f7f, #4c4c4c);
  background-image: -ms-linear-gradient(top, #7f7f7f, #4c4c4c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f7f7f), color-stop(100%, #4c4c4c));
  background-image: -webkit-linear-gradient(top, #7f7f7f, #4c4c4c);
  background-image: -o-linear-gradient(top, #7f7f7f, #4c4c4c);
  background-image: linear-gradient(#7f7f7f, #4c4c4c);
  border-color: #4c4c4c #4c4c4c #404040;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased; }

.content-main {
  padding-top: 20px;
  background: #fff;
  /*#efefef;*/
  min-height: 500px; }

.content-top {
  height: 20px;
  padding-top: 10px; }

.context-head {
  height: 70px; }

.level-headline-icon {
  margin-top: 15px; }

.language-indicator {
  margin-top: 22px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
  float: left; }

.language-selector {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  width: 150px; }

.language-selector ul {
  padding: 10px 0px;
  margin: 10px 0px; }

.language-selector li > a {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px; }

.language-selector li > a:hover {
  color: #fff; }

.icon-medium-inline {
  float: right; }

.icon-medium-right {
  margin-right: 0px;
  width: 30px;
  height: 30px; }

.info_button_medium {
  background: url("../img/icons/icon_info_30.png");
  width: 30px;
  height: 30px;
  float: left; }

.close-button-medium {
  background: url("../img/icons/icon_close_30.png");
  width: 30px;
  height: 30px;
  float: left; }

.accordion-caret {
  float: right;
  height: 10px; }

.accordion.sub-tab {
  margin-top: 60px; }

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 1;
  vertical-align: middle;
  width: 0; }

.caret-left {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 1;
  vertical-align: middle;
  width: 0; }

.caret-button-padding-right {
  padding-right: 5px; }

.table-compact {
  width: 100%; }

.nowrap {
  white-space: nowrap; }

.word-break {
  word-break: break-all; }

.table-compact td.icons {
  padding-top: 3px;
  padding-bottom: 2px;
  text-align: right;
  overflow: visible;
  white-space: nowrap; }

.table-compact tfoot tr th {
  padding-top: 20px; }

li.table-row-style {
  border-top: 1px solid #eee;
  padding-top: 3px;
  list-style-type: none;
  margin-top: 3px; }

ul.table-row-style {
  margin-left: 20px; }

li.table-row-style .text {
  padding-top: 2px;
  overflow: hidden;
  white-space: nowrap; }

li.table-row-style .menu-item-link {
  width: 250px;
  font-style: italic;
  white-space: normal; }

.table-style-labels {
  margin-bottom: 10px;
  font-weight: bold; }

.menu-item-link-label {
  width: 250px; }

.icon-in-row-small {
  margin-right: 10px; }

.button-in-row {
  margin-right: 7px; }

.row-actions {
  display: none;
  position: absolute;
  top: -3px;
  right: -8px;
  background-color: #646464;
  padding: 3px 3px 3px 20px;
  height: 35px;
  white-space: nowrap;
  -webkit-border-radius: 16px 0px 0px 16px;
  border-radius: 16px 0px 0px 16px; }

.actions-toggle-close {
  margin-right: 6px; }

.row-menus {
  font-size: 18px; }

.modal form {
  margin: 0; }

.page-form {
  margin: 0; }

.initcms-list-actions select, .initcms-list-actions input {
  margin-bottom: 0px; }

.ui-sortable {
  list-style: none; }

.sortable li.ui-state-active, .sortable li.ui-state-highlight {
  margin-bottom: 20px !important; }

.filters {
  background-color: #ebebeb;
  padding: 10px; }

.filters .caret {
  margin-left: 30px;
  margin-top: 3px;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

.caret.filter_close {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: ""; }

.dropzone .sortable > li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.dropzone .sortable > li.empty_layout_block {
  padding: 10px;
  border: #bbb dashed 1px;
  min-height: 60px;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.dropzone.well-small {
  padding: 4px; }

.dropzone > ul, .dropzone > ol {
  margin: 0;
  padding: 0; }

.dropzone h6 {
  font-weight: normal;
  margin: 0; }

.dropzone .content_preview, .dropzone .ui-state-highlight {
  margin-bottom: 5px;
  background-color: white;
  min-height: 50px;
  padding: 5px;
  border: 1px solid #dadada;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.plus_button {
  text-align: center; }

[class^="glyphicon-"].soft-background,
[class*=" glyphicon-"].soft-background {
  background-color: #ebebeb;
  padding: 5px; }

.modal:focus {
  outline: none; }

body.modal-open {
  margin-right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#login.modal {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
  display: block; }

.modal.container {
  max-width: none; }

.cursor-pointer {
  cursor: pointer; }

.break-word {
  word-wrap: break-word; }

.media-filter {
  margin-bottom: 0; }

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px; }

th.sonata-ba-list-field-header-order-desc a,
th.sonata-ba-list-field-header-order-asc a {
  position: relative;
  margin-right: 10px; }

th.sonata-ba-list-field-header-order-asc a:hover:before,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:before,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:hover:before {
  content: "";
  display: block;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -1px; }

th.sonata-ba-list-field-header-order-desc a:hover:before,
th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:before,
th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:hover:before {
  content: "";
  display: block;
  border-bottom: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -5px; }

.pagination-xs > li > a, .pagination-xs > li > span {
  padding: 2px 6px;
  font-size: 11px; }

.tooltip {
  z-index: 10300; }

.tooltip-inner {
  max-width: 350px; }

iframe {
  flex-shrink: 0;
  margin: auto;
  border: 0;
  background-color: #fff;
  overflow: auto; }

div#item_list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr; }
  div#item_list .media-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: move; }

.overlay .overlay-layer.overlay-layer-dark {
  background-color: rgba(0, 0, 0, 0.55); }

#jstree-marker {
  z-index: 10000; }

.jstree-leaf {
  height: 30px; }

.jstree-leaf a.jstree-hovered {
  height: 30px; }

.jstree-leaf a.jstree-clicked {
  height: 30px; }

.ui-helper-hidden-accessible {
  display: none; }

.input-mini {
  width: 60px !important; }

.input-small {
  width: 90px !important; }

.input-medium {
  width: 220px !important; }

.input-large {
  width: 270px !important; }

.input-xlarge {
  width: 350px !important; }

.input-xxlarge {
  width: 530px !important; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #737373; }

input.cke_dialog_ui_input_text {
  height: 24px; }

/*! X-editable - v1.5.3 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2020 Vitaliy Potapov; Licensed MIT */
.editableform {
  margin-bottom: 0;
  /* overwrites bootstrap margin */ }

.editableform .control-group {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
  white-space: nowrap;
  /* prevent wrapping buttons on new line */
  line-height: 20px;
  /* overwriting bootstrap line-height. See #133 */ }

/*
    BS3 fix: stop css from breaking when the form is inside a popup and inside a form with the class .form-horizontal
    See: https://github.com/vitalets/x-editable/issues/682
*/
.form-horizontal .editable-popup .editableform .form-group {
  margin-left: 0;
  margin-right: 0; }

/* 
  BS3 width:1005 for inputs breaks editable form in popup 
  See: https://github.com/vitalets/x-editable/issues/393
*/
.editableform .form-control {
  width: auto; }

.editable-buttons {
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  vertical-align: top;
  margin-left: 7px;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline; }

.editable-buttons.editable-buttons-bottom {
  display: block;
  margin-top: 7px;
  margin-left: 0; }

.editable-input {
  vertical-align: top;
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  width: auto;
  /* bootstrap-responsive has width: 100% that breakes layout */
  white-space: normal;
  /* reset white-space decalred in parent*/
  /* display-inline emulation for IE7*/
  zoom: 1;
  *display: inline; }

.editable-buttons .editable-cancel {
  margin-left: 7px; }

/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button-icon-only {
  height: 24px;
  width: 30px; }

.editableform-loading {
  background: url("../img/loading.gif") center center no-repeat;
  height: 25px;
  width: auto;
  min-width: 25px; }

.editable-inline .editableform-loading {
  background-position: left 5px; }

.editable-error-block {
  max-width: 300px;
  margin: 5px 0 0 0;
  width: auto;
  white-space: normal; }

/*add padding for jquery ui*/
.editable-error-block.ui-state-error {
  padding: 3px; }

.editable-error {
  color: red; }

/* ---- For specific types ---- */
.editableform .editable-date {
  padding: 0;
  margin: 0;
  float: left; }

/* move datepicker icon to center of add-on button. See https://github.com/vitalets/x-editable/issues/183 */
.editable-inline .add-on .icon-th {
  margin-top: 3px;
  margin-left: 1px; }

/* checklist vertical alignment */
.editable-checklist label input[type="checkbox"],
.editable-checklist label span {
  vertical-align: middle;
  margin: 0; }

.editable-checklist label {
  white-space: nowrap; }

/* set exact width of textarea to fit buttons toolbar */
.editable-wysihtml5 {
  width: 566px;
  height: 250px; }

/* clear button shown as link in date inputs */
.editable-clear {
  clear: both;
  font-size: 0.9em;
  text-decoration: none;
  text-align: right; }

/* IOS-style clear button for text inputs */
.editable-clear-x {
  background: url("../img/clear.png") center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;
  top: 50%;
  right: 6px;
  margin-top: -6px; }

.editable-clear-x:hover {
  opacity: 1; }

.editable-pre-wrapped {
  white-space: pre-wrap; }

.editable-container.editable-popup {
  max-width: none !important;
  /* without this rule poshytip/tooltip does not stretch */ }

.editable-container.popover {
  width: auto;
  /* without this rule popover does not stretch */ }

.editable-container.editable-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline; }

.editable-container.ui-widget {
  font-size: inherit;
  /* jqueryui widget font 1.1em too big, overwrite it */
  z-index: 9990;
  /* should be less than select2 dropdown z-index to close dropdown first when click */ }

.editable-click,
a.editable-click,
a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc; }

.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
  color: #585858;
  cursor: default;
  border-bottom: none; }

.editable-empty, .editable-empty:hover, .editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  /* border-bottom: none; */
  text-decoration: none; }

.editable-unsaved {
  font-weight: bold; }

.editable-unsaved:after {
  /*    content: '*'*/ }

.editable-bg-transition {
  -webkit-transition: background-color 1400ms ease-out;
  -moz-transition: background-color 1400ms ease-out;
  -o-transition: background-color 1400ms ease-out;
  -ms-transition: background-color 1400ms ease-out;
  transition: background-color 1400ms ease-out; }

/*see https://github.com/vitalets/x-editable/issues/139 */
.form-horizontal .editable {
  padding-top: 5px;
  display: inline-block; }

/*# sourceMappingURL=networking_initcms.css.map */
