{% block page_settings %}
    <div id="pageStatusSettings">
        {% include 'NetworkingInitCmsBundle:PageAdmin:page_status_settings.html.twig' %}
    </div>
    <div id="pageSettings">
        {% include 'NetworkingInitCmsBundle:PageAdmin:page_settings_fields.html.twig' %}
    </div>
{% endblock page_settings %}