{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% autoescape false %}
<script type="text/javascript">

(function($){

    $("#{{ admin.getUniqid }}_locale").live('change', function(){
        var locale = $(this).val();
        $.getJSON(
            '{{ admin.generateUrl('parentPageList') }}',
            {locale: locale},
            function(data){
                var parentPages = $("#{{ admin.getUniqid }}_parent");
                parentPages.empty();
                parentPages.append($('<option></option>'));
                $.each(data, function(k, v){
                    if(v){
                        parentPages.append($('<option></option>').val(k).html(v));
                    }
                });
            }
        )
    })

})(jQuery);
</script>
{% endautoescape %}
