{% extends sonata_block.templates.block_base %}

{% block block %}

    {# only visible for superadmin #}
    {% if is_granted("ROLE_SUPER_ADMIN") %}

        <div class="well well-small">
            <h4>{{ 'title.sitemap'|trans({}, 'NetworkingInitCmsBundle') }}</h4>

            <div id="ajaxResponseDiv"></div>
            <div class="row">
                <div class="col-md-12">
                    {{ 'infotext.sitemap'|trans({'%website%':  url('xml_sitemap') }, 'NetworkingInitCmsBundle') | raw }}
                </div>

            </div>

        </div>
    {% endif %}
{% endblock %}