{% extends sonata_block.templates.block_base %}

{% block block %}

    {# only visible for superadmin #}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                <span class="card-icon">
				    <i class="la la-sitemap icon-lg text-primary"></i>
				</span>
                    <h3 class="card-label">{{ 'title.sitemap'|trans({}, 'NetworkingInitCmsBundle') }}</h3>
                </div>
            </div>
            <div class="card-body">
                {{ 'infotext.sitemap'|trans({'%website%':  url('xml_sitemap') }, 'NetworkingInitCmsBundle') | raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}