{% extends sonata_block.templates.block_base %}

{% block block %}
<nav class="navbar fixed-bottom navbar-light bg-dark version-footer d-flex justify-content-center">
    <p class="text-center version-number"><a href="https://github.com/networking/init-cms-bundle/releases/tag/{{ version }}" target="_blank">Init CMS Version {{ version }}</a> </p>
</nav>
{% endblock %}
