{% extends sonata_block.templates.block_base %}

{% block block %}
<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse version-footer">
    <div class="container">
        <p class="text-center version-number">Init CMS Version {{ version }}</p>
    </div>
</nav>
{% endblock %}
