// include the responsive after all of your stuff! ???
@import "responsive";
// Import our variables to overwrite bootstrap settings
@import 'variables';

@adminNavbarBackground: darken(@adminNavbarBackgroundHighlight, 5%);
@adminNavbarBackgroundHighlight: #ffffff;
@adminNavbarBorder: darken(@adminNavbarBackground, 12%);
@adminNavbarLinkBackgroundActive: darken(@adminNavbarBackground, 5%);
@adminNavbarText: #777777;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @grayLight;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      #ffffff;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;

body {
  padding-top: @navbarHeight * 2;

}

.navbar-initcms {
  line-height: 130%;
  top: 0px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; // Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
  z-index: 2000;

// Dropdowns
  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @navbarInverseLinkBackgroundActive;
    color: @navbarInverseLinkColorActive;
  }
  .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: @navbarInverseLinkColor;
    border-bottom-color: @navbarInverseLinkColor;
  }
  .nav li.dropdown.open > .dropdown-toggle .caret,
  .nav li.dropdown.active > .dropdown-toggle .caret,
  .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: @navbarInverseLinkColorActive;
    border-bottom-color: @navbarInverseLinkColorActive;
  }

  .color-draft {
    color: #ff8a00 !important;
  }

  .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
  }
   a.brand:hover{
    color: #0088cc;
  }

  .info-very-soft {
    color: #cccccc;
  }

  .color-second {
    color: #999999;
  }

  .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
  }
  .align-center{
    text-align: center;
  }
}

.navbar-fixed-top {
  top: @navbarHeight;
}

