// include the responsive after all of your stuff! ???
@import "responsive";
// Import our variables to overwrite bootstrap settings
@import 'variables';

@adminNavbarBackground: darken(@adminNavbarBackgroundHighlight, 5%);
@adminNavbarBackgroundHighlight: #ffffff;
@adminNavbarBorder: darken(@adminNavbarBackground, 12%);
@adminNavbarLinkBackgroundActive: darken(@adminNavbarBackground, 5%);
@adminNavbarText: #777777;
body {
  padding-top: @navbarHeight * 2;

}

.navbar-initcms {
  line-height: 130%;
  top: 0px !important;
  color: @adminNavbarText; // Inner for background effects
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; // Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
  z-index: 2000;

  .navbar-inner {
    #gradient > .vertical(@adminNavbarBackgroundHighlight, @adminNavbarBackground);
    border: 1px solid @adminNavbarBorder;
  }

// Dividers in navbar
// -------------------------
  .divider-vertical {
    border-left: 1px solid @adminNavbarBackground;
    border-right: 1px solid @adminNavbarBackgroundHighlight;
  }
// Links
  .nav > li > a {
    text-shadow: 0 1px 0 @adminNavbarBackgroundHighlight;
  }

// Active nav items
  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    background-color: @adminNavbarLinkBackgroundActive;
  }

  .btn-navbar {
    .buttonBackground(darken(@adminNavbarBackgroundHighlight, 5%), darken(@adminNavbarBackground, 5%));
  }

  .brand,
  .nav > li > a {
    text-shadow: 0 1px 0 @adminNavbarBackgroundHighlight;
  }
  .color-draft {
    color: #ff8a00 !important;
  }

  .nav li.dropdown.open > .dropdown-toggle,
  .nav li.dropdown.active > .dropdown-toggle,
  .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @adminNavbarBackgroundHighlight;
  }

  .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: @adminNavbarText;
  }
   a.brand:hover{
    color: #0088cc;
  }

  .info-very-soft {
    color: #cccccc;
  }

  .color-second {
    color: #999999;
  }

  .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
  }
  .align-center{
    text-align: center;
  }
}

.navbar-fixed-top {
  top: @navbarHeight;
}

