/*!
 * NetworkingSuiteBundle
 * Copyright 2012 networking.ch
 *
 */

// Getting the whole bootstrapb.less
@import "bootstrap";

// include the responsive after all of your stuff! ???
@import "responsive";

// Import our variables to overwrite bootstrap settings
@import 'variables';


body {
  padding-top: @navbarHeight; /* 40px to make the container go all the way to the bottom of the navbar */
}

.container {
  >footer{
    >p {
      text-align: center; /* center align it with the container */
    }
  }
  /* The white background content wrapper */
  .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
}
.navbar .btn {
  border: 0;
}

