function createInitCmsMessageBox(status, message) {
    var messageHtml = '<div class="alert alert-' + status + '"><a class="close" data-dismiss="alert" href="#">×</a>' + message + '</div>';

    jQuery('.notice-block').html(messageHtml);
}
function destroyCkeditor() {
    var editors = CKEDITOR.instances;
    jQuery.each(editors, function () {
        var instance = this;
        try{
        if (instance && instance.getData()) {
            instance.destroy(true);
        }
        }catch(err){
        }
    });
}

function trim(str) {
    str = str.replace(/^\s+/, '');
    for (var i = str.length - 1; i >= 0; i--) {
        if (/\S/.test(str.charAt(i))) {
            str = str.substring(0, i + 1);
            break;
        }
    }
    return str;
}

(function ($) {
    $('.modal').live('show', function(){
        var height = $(this).height();
        var windowHeight = $(window).height();
        if(windowHeight - 100 < height){
            height = windowHeight /2;
            $('.modal-body', this).css('max-height', height+'px');
        }
    });

    $('.notice-block').on('DOMNodeInserted', function () {
        $(this).fadeIn().delay('3000').fadeOut(500);
    });

    $('.notice-block').each(function (k, e) {
        if (trim($(e).html()) != '') {
            $(e).fadeIn().delay('3000').fadeOut(500);
        }
    });
})(jQuery);