{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'NetworkingInitCmsBundle:CRUD:base_list.html.twig' %}



{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'NetworkingInitCmsBundle:Core:clear_cache_button.html.twig' %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}

{% block list_table %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div class="modal hide fade" tabindex="-1" role="dialog" id="list_dialog">
    </div>
{% endblock %}

{% block before_body_end %}
    {{ parent() }}
    {% include 'NetworkingInitCmsBundle:CRUD:list_script.html.twig' %}
{% endblock %}
