{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if  admin.isGranted('CREATE')%}
        <a class="btn btn-primary btn-sm menu-dialog-link" href="{{ admin.generateUrl('create', {'subclass': 'menu item', 'root_id': root_id}) }}">
                <i class="fa fa-plus icon-white"></i> {{ 'button.create.menu_item'|trans({}, admin.translationDomain) }}
            </a>
{% endif %}
