<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>
                {{ "placement_title"|trans({}, admin.translationDomain) }}
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="menu_tree" id="placement_menu" ></div>
            <script>
                (function ($) {
                    var tree = $('#placement_menu');
                    tree.jstree({
                            "types": {
                                "default": {
                                    "icon": "la la-file text-primary icon-2x"
                                },
                                "file": {
                                    "icon": "la la-file text-primary icon-2x"
                                }
                            },
                            "plugins": [
                                "dnd",
                                "types",
                            ],
                            'core': {
                                "themes" : {
                                    "variant" : "large"
                                },
                                "check_callback": function (operation, node, node_parent, node_position, more) {
                                    return true;
                                },
                                data: function(node, cb){
                                    cb(JSON.parse('{{ menu.navigation|json_encode|raw }}'))
                                }
                            }
                        });
                })(jQuery);
            </script>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
