{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link href="{{ asset('networking_initcms.css', 'init_cms') }}" type="text/css" rel="stylesheet" media="screen"/>
        {% block content_css %}
            {% for css in content_css() %}
                <link href="{{ asset(css) }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endfor %}
        {% endblock content_css %}
    {% endblock %}
    <title>
        {% block meta_title %}
        {% endblock %}
    </title>
</head>
{% block body_tag %}
<body class="{% block body_class %}initcms{% endblock %}">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    <div class="{% block container_class %}container{% endblock container_class %} row-offcanvas">
        <div class="row">
            <div class="col-xs-12 col-md-12 content-main">

                <div class="jumbotron">{% block headline %}{% endblock headline %}</div>

                {% block sonata_admin_content %}
                {% endblock sonata_admin_content %}
            </div>
        </div>
    </div>
{% endblock body %}
</body>
</html>