{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/base_list.html.twig' %}



{% block actions %}
    <div class="sonata-actions">
        {% include '@NetworkingInitCms/Core/clear_cache_button.html.twig' %}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div class="modal fade" tabindex="-1" role="dialog" id="list_dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}
{% block before_body_end %}
    {{ parent() }}
    {% include '@NetworkingInitCms/TranslationAdmin/list_script.html.twig' %}
{% endblock %}

{% block batch_actions %}
    {{ parent() }}
    <input type="hidden" id="downloadToken" name="downloadToken">
{% endblock %}