{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if  admin.isGranted('CREATE')%}
    <div class="pull-right">
        <a class="btn btn-custom btn-small menu-dialog-link" href="{{ admin.generateUrl('create', {'subclass': 'menu item'}) }}">
                <i class="icon-plus icon-white"></i> {{ 'button.create.menu_item'|trans({}, admin.translationDomain) }}
            </a>
    </div>
    <div class="clearfix">&nbsp;</div>
{% endif %}
