{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div class="dotted" >&nbsp;</div>
<div class="menu_item {% if last_edited == node.id %}info{% endif %}">
    <div style="margin-right: 10px;  width: 100%">{{ node.name }}
        <div class="stop" style="line-height: 3px; margin-left: 10px; width: 100%;">
                <ul style="display: none;">
                    <li class="table-row-style list_item" style="padding: 10px;">
                            <a class="colored-link  menu_place_holder" href="javascript:;"
                               onclick="saveSibling('{{ admin.generateUrl('newPlacement', {'newMenuItemId': last_edited, 'menuItemId': node.id, 'sibling':false }) }}')">
                                + {{ 'menu_item.add_here'|trans({}, admin.translationDomain) }}</a>
                    </li>
                </ul>
            </div>
    </div>
    <div style="clear: both"></div>
</div>
