ul {
	margin: 0;
	padding: 0;
}

.sortable ul {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}
.sortable ul.ui-sortable{
    margin: 0;
}
.sortable li {
    border-left: 1px dotted #000;
}
div.menu_item.info{
    background-color: #D9EDF7;
}

.placeholder {
	border: 1px dashed #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

ul.ui-sortable li .dotted{
    border-bottom: 1px dotted #000;
    float: left;
    width: 10px;
    margin: 0px 10px 0 0;
    line-height: 1.3em;
}
li:last-child{
    border-left: none;
}
li:last-of-type > div.dotted{
    border-left: 1px dotted #000;
}


.sortable li.table-row-style {
    border-top: 1px solid #eee;
    padding-top: 0;
    list-style-type: none;
    margin-top: 1px;
}
.menu_item {
    padding-top: 6px;
}