@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-initcms .dropdown-content {
  display: none;
}

.navbar-initcms .dropdown:hover .dropdown-content {
  display: block;
}

body.initcms-admin-navbar-loaded {
  margin-top: 70px;
}

.navbar-initcms {
  width: 100%;
  z-index: 1000;
}

.navbar-initcms a:hover {
  text-decoration: none;
  border: none;
}

.navbar-initcms a {
  text-decoration: none;
  border: none;
}
