{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
<a  href="{{ admin.generateObjectUrl('edit', object) }}"
    class="btn btn-mini button-in-row link-page-edit"
        data-original-title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}" data-page_id="{{ admin.id(object) }}">
        <i class="icon-pencil"></i>
</a>
{% endif %}