<td class="icons" style="text-align: right">
    <div style="position:relative;" data-debug="test">
        {% include "NetworkingInitCmsBundle:CRUD:cms_list__action_edit.html.twig" %}
        <button class="btn btn-mini actions-toggle" data-original-title="Show More" data-toggle="dropdown"> &nbsp;<b class="caret"></b>&nbsp;</button>
        <div class="row-actions">
                {% for key, actions in field_description.options.actions %}
                   {% include actions.template %}
            {% endfor %}
            {#<!--<img src="./img/row_actions_left.png" style="position:absolute; top: 0px;left: -14px;"/>-->#}
            {#<button class="btn btn-mini button-in-row show-tooltip" data-original-title="Delete Page" data-toggle="dropdown"><img src="./img/helveticons/basic/16x16/Trash 16x16.png" width="12"/></button>#}
            {#<button class="btn btn-mini button-in-row toggle-mark-page show-tooltip" data-original-title="Mark/Unmark" data-toggle="dropdown" data-page_id="<?php echo $page['id']; ?>"><img src="./img/helveticons/basic/16x16/Alert 16x16.png" width="12"/></button>#}
            {#<button class="btn btn-mini button-in-row show-tooltip" data-original-title="Select Parent Page" data-toggle="dropdown" data-page_id="<?php echo $page['id']; ?>"><img src="./img/icons/icon_select_parent_page_small.png" width="12"/></button>#}
            {#<button class="btn btn-mini button-in-row link-page-edit show-tooltip" data-original-title="Edit Page" data-toggle="dropdown" data-page_id="<?php echo $page['id']; ?>"><img src="./img/helveticons/basic/16x16/Edit 16x16.png" width="12" /></button>#}
            <button class="btn btn-mini actions-toggle-close" data-original-title="Hide More Actions" data-toggle="dropdown"><b class="caret-left caret-button-padding"></b><span class="caret-button-padding-right"></span><!--<img src="./img/helveticons/basic/16x16/Settings 16x16.png" width="12"/>--></button>
        </div>
    </div>
</td>