{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block actions %}
     <div class="sonata-actions">
         <ul>
             {% include 'NetworkingInitCmsBundle:Core:create_button.html.twig' %}
         </ul>
     </div>
 {% endblock %}
{% block list_table %}
    <legend><strong>{% trans %}List{% endtrans %}</strong></legend>
    {{ parent() }}
{% endblock %}
