{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value is not null %}
        <span class="show-tooltip" data-original-title="{{value}}">{{ field_description.options.currency }} {{ value }}</span>
    {% endif %}
{% endblock %}
