{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-small button-in-row" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-zoom-in"></i>
    </a>
{% endif %}