{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
<div class="row">
    <div id="login" class="connection modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="login-box modal-body ">
                    <div class="login-box-body">
                        <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'SonataUserBundle')|nl2br }}</p>
                        <hr>
                        <a href="{{ path('sonata_user_admin_security_login') }}">
                            {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock sonata_wrapper %}
