{% if object.providerName is defined and 'image' in object.providerName %}
<a href="{{ url }}" target="new">{% thumbnail object, 'admin' with {'width': 75, 'height': 60} %}</a>
{% else %}
<a href="{{ url }}" target="new">{{ description }}</a>
{% endif %}