{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div id="contentTypeModal" class="modal fade" aria-hidden="true"  role="dialog">
    <div class="modal-body">
        <p>{{ 'info.create.layout_block'|trans({}, 'PageAdmin') }}</p>
        <select id="selectContentType">
            {% for option in get_content_type_options() %}
            <option value="{{ option.class }}">{{ option.name|trans }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="modal-footer">
        <a href="javascript:jQuery('#contentTypeModal').data('create', false).modal('hide');" class="btn">Close</a>
        <a href="javascript:jQuery('#contentTypeModal').data('create', true).modal('hide');" class="btn btn-primary">Create</a>
    </div>
</div>
