//
// Forms
// --------------------------------------------------
.input-mini       { width: 60px !important; }
.input-small      { width: 90px !important; }
.input-medium     { width: 220px !important; }
.input-large      { width: 270px !important; }
.input-xlarge     { width: 350px !important; }
.input-xxlarge    { width: 530px !important; }



.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #737373;
}

