$initgray:              #aaaaaa;
$text-color2:            $initgray;
$link-color2:            #4b8dbb;

$color-draft:            #ff8a00;
$color-review:            #82badd;
$color-published:     #008000;

$base-form-font-size:     12px;
$base-form-line-height:   15px;