$initgray:              #aaaaaa;
$text-color-soft:         #bbb;
$text-color-very-soft:     #ccc; /*lighten($textColor, 60%)*/
$text-color2:            $initgray;
$link-color2:            #4b8dbb;

$custom-color1:          orange;
$custom-color2:          green;
$link-color:            #5cace1;
$link-color-hover:      darken($link-color2, 15%);
$color-draft:            #ff8a00;
$color-review:           $link-color;
$color-published:        green;

$font-size-micro:         $font-size-base * .775;
$font-size-mini:          $font-size-base * .8;
$font-size-small:         $font-size-sm;
$font-size-medium:        $font-size-base ;
$font-size-large:         $font-size-lg;
$font-size-very-large:    $font-size-lg * 1.25;

$base-form-font-size:     12px;
$base-form-line-height:   15px;