{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
  <div class="form-check form-check-sm form-check-custom form-check-solid">
    <input class="form-check-input" type="checkbox" name="idx[]" value="{{ admin.id(object) }}" />
  </div>
{% endblock %}