{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<td class="icons" style="text-align: right">
    <div style="position:relative;">

        {% if field_description.options.actions|length > 2 %}

        {% include field_description.options.actions.edit.template %}
                <a class="btn btn-light btn-sm actions-toggle"
                        data-original-title="{{ 'link.show_more_actions'|trans({}, 'NetworkingInitCmsBundle') }}"
                        data-toggle="row-actions">
                    <i class="fa fa-chevron-down"></i>
                </a>
        <div class="row-actions">
            {% for key, actions in field_description.options.actions %}
                {% include actions.template %}
            {% endfor %}
            <a class="btn btn-light btn-sm actions-toggle-close "
                    data-original-title="{{ 'link.hide_actions'|trans({}, 'NetworkingInitCmsBundle') }}"
                    data-toggle="row-actions">
                <i class="fa fa-chevron-left caret-button-padding"></i>
            </a>
        </div>
        {% else %}
            {% for key, actions in field_description.options.actions %}
                {% include actions.template %}
            {% endfor %}
        {% endif %}
    </div>
</td>