{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- elseif field_description.options.format is defined -%}
        <span class="show-tooltip" data-original-title="{{ value|date(field_description.options.format|default(null), field_description.options.timezone|default(null)) }}"> {{ value|date(field_description.options.format|default(null), field_description.options.timezone|default(null)) }}</span>
    {%- else -%}
        <span class="show-tooltip" data-original-title="{{ value|date('F j, Y H:i') }}">{{ value|date('F j, Y H:i') }}</span>
    {%- endif -%}
{% endblock %}