{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends admin.getTemplate('base_list_field') %}

{% block field%}
        <span class="show-tooltip" data-original-title="{{value}}" >{{value}}</span>
{% endblock %}